.movies-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.05);
}
.movies-card__image {
    width: 300px;
    height: 168px;
    border-radius: 10px 10px 0 0;
}
.movies-card__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
}
.movies-card__name {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(0,0,0, 1);
    margin-top: 14px 0 10px;
    overflow: hidden;
    height: 16px;
    width: 245px;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.movies-card__duration {
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: rgba(160, 160, 160, 1);
    margin: 0 12px 14px;
}
.movies-card__checkbox {
    display: none;
}
.movies-card__checkbox + .movies-card__label-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.09);
}
.movies-card__checkbox + .movies-card__label-checkbox:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(249, 249, 249, 1);
    transition: transform 0.3s;
}
.movies-card__checkbox:checked + .movies-card__label-checkbox:after {
    background: rgba(43, 224, 128, 1);
}

@media (min-width: 768px) {
    .movies-card {
        width: 339px;
    }    
    .movies-card__image {
        width: 339px;
        height: 190px;
    }
    .movies-card__name {
        width: 299px;
    }
}

@media (min-width: 1280px) {
    .movies-card  {
        width: 270px;
    }
    .movies-card__image {
        width: 270px;
        height: 151px;
    }
    .movies-card__name {
        width: 230px;
    }
}