.page {
    margin: 74px auto 0;
    min-width: 320px;
}
@media (min-width: 768px) {
    .page {
        margin: 70px auto 0;
    }
}
@media (min-width: 768px) {
    .page {
        margin: 74px auto 0;
    }
}