.movies {
    padding: 50px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.movies__error {
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: rgba(238, 52, 101, 1);
    align-self: center;
    margin: 0 0 7px;
    padding: 5px;
    width: 260px;
    z-index: 2;
    background-color: aliceblue;
}
.movies__empty {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(160, 160, 160, 1);
    align-self: center;
    margin: 0 0 7px;
    padding: 5px;
    width: 260px;
    text-align: center;
}
@media (min-width: 768px) {
    .movies {
        padding: 80px 30px;
    }   
}

@media (min-width: 1280px) {
    .movies {
        padding: 80px 0;
        width: 1140px;
    }
}


