body {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(255, 255, 255, 1);
}