.form {
    margin-top: -14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form__logo {
    width: 38px;
    height: 38px;
    background-image: url(../../images/logo.svg);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.form__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form__greeting {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 50px 0 80px;
    margin: 0;
}
.form__label {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: rgba(160, 160, 160, 1);
    align-self: flex-start;
    margin: 0 0 10px;
}
.form__input {
    background: rgba(249, 249, 249, 1);
    border: 0px;
    border-radius: 8px;
    height: 46px;
    width: 260px;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 2px;
    box-sizing: border-box;
}
.form__input:focus {
    outline: 1px solid rgba(70, 93, 255, 1);
}
.form__input_error {
    color: rgba(238, 52, 101, 1);
}
.form__text-validation {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: rgba(238, 52, 101, 1);
    align-self: flex-start;
    margin: 0 0 7px;
    height: 12px;
    width: 260px;
}
.form__button {
    margin-top: 157px;
    width: 260px;
    height: 45px;
    background: rgba(255, 104, 56, 1);
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(255, 255, 255, 1);
}
.form__button:hover {
    cursor: pointer;
}
.form__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: rgba(160, 160, 160, 1);
    margin: 0;
    display: inline-block;
}
.form__link {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: rgba(255, 104, 56, 1);
    text-decoration: none;
    display: inline-block;
    margin-left: 7px;
}
.form__under-button {
    margin-top: 14px;
}

@media (min-width: 768px) {
    .form {
        margin-top: 232px;
    }
    .form__logo {
        width: 396px;
    }
    .form__greeting {
        padding: 40px 0;
        width: 396px;
        text-align: left;
    }
    .form__input {
        width: 396px;
    }
    .form__text-validation {
        width: 396px;
    }
    .form__button {
        margin-top: 69px;
        width: 396px;
    }
}

@media (min-width: 1280px) {
    .form {
        margin-top: 70px;
    }
    .form__under-button {
        margin-top: 16px;
    }
    .form__description {
        font-size: 14px;
        line-height: 17px;
    }
    .form__link {
        font-size: 14px;
        line-height: 17px;
    }
    .form__button {
        line-height: 17px;
        font-size: 14px;
    }
}