@import url("Promo/Promo.css");
@import url("NavTab/NavTab.css");
@import url("AboutProject/AboutProject.css");
@import url("Techs/Techs.css");
@import url("AboutMe/AboutMe.css");
@import url("Portfolio/Portfolio.css");

.main {
    position: relative;
}
.main__title {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    margin: 0;
}
.main__black-line {
    background: rgba(0, 0, 0, 1);
    width: 284px;
    height: 1px;
    margin: 28px 0 0;
}
.main__description {
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto;
    width: 284px;
}

@media (min-width: 768px) {
    .main__title {
        color: rgba(0, 0, 0, 1);
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.04em;
        margin: 0;
    }
    .main__black-line {
        background: rgba(0, 0, 0, 1);
        width: 668px;
        height: 1px;
        margin: 23px 0 0;
    }
}

@media (min-width: 1280px) {
    .main__black-line {
        width: 1140px;
        margin: 23px 0 0;
    }
}